# Maven build output
target/

# Git
.git
.gitignore

# Docker ignore itself
.dockerignore

# IDE folders
.idea
*.iml
*.ipr
*.iws
.vscode
.project
.classpath
.settings
.sts4-cache

# OS/system files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
